.board {
    color: blue;
    font-size: 0.5rem;
    
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

.cell {
    width: 1.9rem;
    height: 1.9rem;
    outline: 1px solid rgb(134, 154, 189);
    display: inline-block;
    overflow: hidden;
}

.start-cell {
    background: rgb(75, 75, 255);
    animation-name: start-cell-animation;
    animation-duration: 0.5s;
}

@keyframes start-cell-animation {
    from {
        background-size: 0rem 0rem;
        background-color: rgb(162, 162, 255);
    }
    to {
        background-size: 2rem 2rem;
        background-color: rgb(75, 75, 255);
    }
}

.goal-cell {
    background: red;
}

.wall-cell {
    background:rgb(164, 164, 164);
    animation-name: wall-cell-animation;
    animation-duration: 0.5s;
}

@keyframes wall-cell-animation {
    from {
        background-size: 0rem 0rem;
        background-color: rgb(0, 0, 0);
    }
    to {
        background-size: 2rem 2rem;
        background-color: rgb(164, 164, 164);
    }
}

.explored-cell {
    background: #003044;
    animation-name: explored-cell-animation;
    animation-duration: 0.5s;
}

@keyframes explored-cell-animation {
    0% {
        background-color: #DAEBF4;
    }
    20% {
        background-color: #B6D3E3;
    }
    50% {
        background-color: #3A6275;
    }
    70% {
        background-color: #004154;
    }
    100% {
        background-color: #003044;
    }
}

.path-cell {
    background: rgba(0, 255, 8, 0.929);
    animation-name: path-cell-animation;
    animation-duration: 2s;
}

@keyframes path-cell-animation {
    from {
        background-size: 0rem 0rem;
        background-color: rgb(0, 0, 0);
    }
    to {
        background-size: 2rem 2rem;
        background-color: rgba(0, 255, 8, 0.929);
    }
}

.cell-contents {
    /* center */
    display: flex;
    justify-content: center;
    align-items: center;

    /* styles */
    color: rgb(0, 0, 0);
    opacity: 0.3;
    width: 1.9rem;
    height: 1.9rem;
}